

.modal2 {
	display: flex;
	flex-direction: column;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}
.modal2__header{
	display:table;
	height: 100px;
	background-color:#eeeeee;
}
.modal2__footer{
	display:table;
	height: 100px;
	background-color:#eeeeee;
}
.modal2__content {
	height: 100%;
	overflow-y: auto;
	background-color:#eeeeee;
}
.col1{
	width:30%;
	min-width:400px;
}
.col2{
	width:70%;
	background-color:#fff;
}


/* BEGIN CALCULATOR STYLES */
#calc-page .btn{
    margin:2px;
}
.calc-title{
	font-size:30px;
	margin:0px;
	padding-left:10px;
}
.calc-subtitle{
	font-size:20px;
	margin:0px;
	padding-left:14px;
}
.calc-title-box{
	margin:10px;
}
.calc-header{
	min-height:60px;
	background-color:#eee;
	margin:0px;
}
.calc-body{
	font-size:18px;
	margin:0px;
}
.calc-input{
	padding:20px;
	/*min-height:700px;*/
	background-color:#eee;
}
.calc-answer{
	padding:10px;
	min-height:100px;
	background-color:#27a243;
	color:#fff;
}
#answerSentence{
	font-size:20px;
	margin:0px;
	color:#fff;
}
#answerDisplay{
	font-size:35px;
	font-style:bold;
	margin:0px;
	margin-top:20px;
	color:#fff;
}
.calc-title{
	margin:0px;
}
.calc-result{
	padding:10px;
	background-color:#fff;
}
#calc-doc{
	display:none;
	max-height:600px;
	padding:20px;
	margin-top:20px;
	overflow-y:scroll;
	overflow-x:hidden;
}
#calc-doc p{
	font-size:24px;
}
#calc-doc h2{
	margin-top:0px;
}
.calc-doc-math{
	margin-top:10px;
	margin-bottom:10px;
}
.btn-calc{
	background-color:#2980b9;
	color:white;
}
.calc-input-control{
	min-height:50px;
}
.calc-input-body{
	
}
.input-xl,
.form-horizontal .form-group-xl .form-control {
  height: 46px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 0px;
}
.calc-addon{
	font-size:20px;
}
#calc-detail{
	display:none;
}
#calc-detail table thead tr th{
	text-align:center;
}
#calc-detail table tbody tr td{
	text-align:center;
}
#chart{
	height:400px;
}
#calc-detail-inner{
	height:360px;
	overflow:scroll;
}
.calc-detail-inner{
	height:360px;
	overflow:scroll;
}
.calc-detail-inner-sm{
	height:300px;
	overflow:scroll;
}
#calc-toolbar{
	display:none;
    height:50px;
	padding-top:10px;
	margin-bottom:10px;
}
.calc-table-hover > tbody > tr:hover {
  background-color: #d9edf7;
}
.calc-table-hover > tbody > tr:hover > td {
  background-color: #d9edf7;
}
/* END CALCULATOR STYLES */



/* BEGIN CALCULATOR VARIATION LINKS */
.variation-title a{
    font-size: 1.4rem;
	font-weight:300;
	padding-right:10px;
	color:#27a243;
}
.variation-title a:hover{
	font-weight:300;
	padding-right:10px;
	color:#129630;
}
.variation-title a.active{
	text-decoration:underline;
	color:#007bff;
}
.body-variation2,
.body-variation3,
.body-variation4,
.body-variation5 {
	display:none;
}
/* END CALCULATOR VARIATION LINKS */



/* BEGIN CALCULATOR BUMP OUTS */
.body-bump {
	min-height:700px;
	padding:20px;
}
.calc-bump-title{
	margin-top:0px;
}
.ledgerTableHeader{
	background-color:#fff;
}
.ledgerTableHeader table{
	margin-bottom:0px;
}
.ledgerTable{
	height:400px;
	overflow:scroll;
	background-color:#fff;
}
#body-bump-1{
	margin-left:-15px;
	background-color:#bbb;
}
#body-bump-2{
	background-color:#aaa;
}
/* END CALCULATOR BUMP OUTS */

.pull-right{
    float:right;
}
.pull-left{
    float:left;
}



.input-xl, .form-horizontal .form-group-xl .form-control {
	height:30px;
	font-size: 18px;
}
.calc-addon {
	font-size: 14px;
}
.input-group-text {
	padding-top: 0.15rem;
	padding-right: 0.375rem;
	padding-bottom: 0.15rem;
	padding-left: 0.375rem;
}
.calc-input-body-var {
	min-height:300px;
	max-height:700px;
	display: flex;
	flex-direction: column;
	padding:20px;
	border:1px solid #bbbbbb;
	background-color:#fff;
	overflow-y:scroll;
	overflow-x:hidden;
}
.form-control {
	padding-top: 0.15rem;
	padding-right: 0.375rem;
	padding-bottom: 0.15rem;
	padding-left: 0.375rem;
}
.frac {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	letter-spacing: 0.001em;
	text-align: center;
}
.frac > span {
	display: block;
	padding: 0.1em;
}
.frac span.bottom {
	border-top: thin solid black;
}
.frac span.symbol {
	display: none;
} 
